<!doctype html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=50">
    <title>Calculadora</title>
    <style>
      df-messenger {
       --df-messenger-bot-message: #878fac;
       --df-messenger-button-titlebar-color: #ed8823;
       --df-messenger-chat-background-color: #fafafa;
       --df-messenger-font-color: white;
       --df-messenger-send-icon: #878fac;
       --df-messenger-user-message: #479b3d;
      }
    </style>
  </head>
  <body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
    <!--script>
      window.addEventListener('dfMessengerLoaded', function (event) {
        const dfMessenger = document.querySelector('df-messenger');
        const openText = ('Oi! LAri!');
        dfMessenger.renderCustomText(openText);
      });
    </script-->
    <df-messenger
      df-cx="true"
      expand="true"
      chat-title="Calculadora Lari e Jad"
      agent-id="daffea2f-de0b-48b9-9d80-442403c9f937"
      language-code="pt-br"
      chat-icon="https://cdn.icon-icons.com/icons2/3939/PNG/512/camera_image_picture_photo_profile_icon_250753.png"
      wait-open="true"
      intent="welcome"
    ></df-messenger>
  </body>
</html>

